<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <module name="FileLength"><property name="max" value="600"/></module>
    <module name="TreeWalker">
        <module name="MethodLength"><property name="max" value="60"/></module>
        <module name="LineLength"><property name="max" value="180"/></module>
        <module name="ParameterNumber"><property name="max" value="6"/></module>
        <module name="CyclomaticComplexity"><property name="max" value="8"/></module>
        <module name="NestedIfDepth"><property name="max" value="2"/></module>
    </module>
</module>
